<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country Or Location</th>
      <th>Total Cases</th>
      <th>New Cases</th>
      <th>Total Deaths</th>
      <th>ActiveCases</th>
      <th>Total Recovered</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>China</td>
      <td>80152</td>
      <td>1</td>
      <td>2945</td>
      <td>29785</td>
      <td>47422</td>
    </tr>
    <tr>
      <th>1</th>
      <td>S. Korea</td>
      <td>5186</td>
      <td>851</td>
      <td>34</td>
      <td>5118</td>
      <td>34</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Italy</td>
      <td>2502</td>
      <td>466</td>
      <td>79</td>
      <td>2263</td>
      <td>160</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Iran</td>
      <td>2336</td>
      <td>835</td>
      <td>77</td>
      <td>1824</td>
      <td>435</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Diamond Princess</td>
      <td>706</td>
      <td>0</td>
      <td>6</td>
      <td>600</td>
      <td>100</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Japan</td>
      <td>293</td>
      <td>19</td>
      <td>6</td>
      <td>244</td>
      <td>43</td>
    </tr>
    <tr>
      <th>6</th>
      <td>France</td>
      <td>212</td>
      <td>21</td>
      <td>4</td>
      <td>196</td>
      <td>12</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Germany</td>
      <td>196</td>
      <td>31</td>
      <td>0</td>
      <td>180</td>
      <td>16</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Spain</td>
      <td>165</td>
      <td>45</td>
      <td>1</td>
      <td>162</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Singapore</td>
      <td>110</td>
      <td>2</td>
      <td>0</td>
      <td>32</td>
      <td>78</td>
    </tr>
    <tr>
      <th>10</th>
      <td>USA</td>
      <td>109</td>
      <td>9</td>
      <td>9</td>
      <td>91</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Hong Kong</td>
      <td>101</td>
      <td>1</td>
      <td>2</td>
      <td>62</td>
      <td>37</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Switzerland</td>
      <td>58</td>
      <td>28</td>
      <td>0</td>
      <td>56</td>
      <td>2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Kuwait</td>
      <td>56</td>
      <td>0</td>
      <td>0</td>
      <td>56</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>U.K.</td>
      <td>51</td>
      <td>12</td>
      <td>0</td>
      <td>43</td>
      <td>8</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Bahrain</td>
      <td>49</td>
      <td>0</td>
      <td>0</td>
      <td>49</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Thailand</td>
      <td>43</td>
      <td>0</td>
      <td>1</td>
      <td>12</td>
      <td>30</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Taiwan</td>
      <td>42</td>
      <td>1</td>
      <td>1</td>
      <td>29</td>
      <td>12</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Australia</td>
      <td>39</td>
      <td>6</td>
      <td>1</td>
      <td>23</td>
      <td>15</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Malaysia</td>
      <td>36</td>
      <td>7</td>
      <td>0</td>
      <td>14</td>
      <td>22</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Norway</td>
      <td>33</td>
      <td>8</td>
      <td>0</td>
      <td>33</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Iraq</td>
      <td>32</td>
      <td>5</td>
      <td>0</td>
      <td>32</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Sweden</td>
      <td>30</td>
      <td>15</td>
      <td>0</td>
      <td>29</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Canada</td>
      <td>29</td>
      <td>2</td>
      <td>0</td>
      <td>22</td>
      <td>7</td>
    </tr>
    <tr>
      <th>24</th>
      <td>U.A.E.</td>
      <td>27</td>
      <td>6</td>
      <td>0</td>
      <td>22</td>
      <td>5</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Austria</td>
      <td>24</td>
      <td>6</td>
      <td>0</td>
      <td>24</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Netherlands</td>
      <td>24</td>
      <td>6</td>
      <td>0</td>
      <td>24</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Vietnam</td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>16</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Belgium</td>
      <td>13</td>
      <td>5</td>
      <td>0</td>
      <td>12</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Lebanon</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Israel</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Oman</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>10</td>
      <td>2</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Iceland</td>
      <td>11</td>
      <td>2</td>
      <td>0</td>
      <td>10</td>
      <td>1</td>
    </tr>
    <tr>
      <th>33</th>
      <td>San Marino</td>
      <td>10</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Macao</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Denmark</td>
      <td>10</td>
      <td>6</td>
      <td>0</td>
      <td>10</td>
      <td>0</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Croatia</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Algeria</td>
      <td>8</td>
      <td>3</td>
      <td>0</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Qatar</td>
      <td>8</td>
      <td>1</td>
      <td>0</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Ecuador</td>
      <td>7</td>
      <td>1</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Finland</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Greece</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>7</td>
      <td>0</td>
    </tr>
    <tr>
      <th>42</th>
      <td>India</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Mexico</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Czechia</td>
      <td>5</td>
      <td>1</td>
      <td>0</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Pakistan</td>
      <td>5</td>
      <td>1</td>
      <td>0</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Portugal</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Romania</td>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Philippines</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Azerbaijan</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Georgia</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Russia</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Brazil</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Egypt</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Estonia</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Indonesia</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Ireland</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Senegal</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Afghanistan</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Andorra</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Armenia</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Belarus</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Cambodia</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Dominican Republic</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Jordan</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Latvia</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Lithuania</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Luxembourg</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>68</th>
      <td>North Macedonia</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Monaco</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Morocco</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Nepal</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>72</th>
      <td>New Zealand</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Nigeria</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Saudi Arabia</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Sri Lanka</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Tunisia</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Ukraine</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Argentina</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Chile</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Liechtenstein</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Total:</td>
      <td>92871</td>
      <td>2422</td>
      <td>3168</td>
      <td>41209</td>
      <td>48494</td>
    </tr>
  </tbody>
</table>