<!DOCTYPE html>
<html>
<head>
    <title>Corona Virus Updates and Statistics</title>
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
.menu {
  float:center;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
</style>
</head>
<body onload="getData()">
<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
  <h1>NCOVID-19 Information and statistics</h1>
</div>
<div style="overflow:auto">
  <div class="menu">
    <td><tr><a href="#">Tables and Charts </a></tr>
       <tr> <a href="/maps">Maps </a> </tr></td>
       <tr> <a href="/bounties">Bounties </a> </tr></td>

  </div>

<h2>Cumulative cases</h2>
<div id='BarChartAllDiv'>

<h2>Cumulative cases</h2>
<div id='PieChartAllDiv'>

<h2>Active cases</h2>
<div id='BarChartActiveDiv'>

    <h2>Current Active cases</h2>
<div id='PieChartActiveDiv'>

<h2>New cases</h2>
<div id='BarChartNewCaseDiv'>

<h2>New cases</h2>
<div id='PieChartNewCaseDiv'>

<h2>Total Deaths</h2>
<div id='BarChartTotalDeathsDiv'>

<h2>Total Deaths</h2>
<div id='PieChartTotalDeathsDiv'>

<h2>Complete list of affected regions</h2>
<p id="AffectedCountryTable">Fetching for the latest data...</p>


<div id='text1'>
<div id='text2'>
<script>

function getData() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
    var txt = this.responseText;	
	var obj = JSON.parse(txt);
	Country=[];
TotalCases=[];
ActiveCases=[];
NewCases=[];
TotalDeaths=[];
txt = "<table border='1'><tr><th>Country Or Location</th><th>Total Cases</th><th>Total Deaths</th><th>Total Recovered</th><th>Active Cases</th></tr>"
      for (x in obj['Country Or Location']) {
      Country.push(obj['Country Or Location'][x]);
      TotalCases.push(obj['Total Cases'][x]);
      ActiveCases.push(obj['Active Cases'][x]);
      NewCases.push(obj['New Cases'][x]);
      TotalDeaths.push(obj['Total Deaths'][x]);
      txt += "<tr><td>" + obj['Country Or Location'][x] + "</td><td>"+ obj['Total Cases'][x]  +  "</td><td>"+ obj['Total Deaths'][x] + "</td><td>"+ obj['Total Recovered'][x] + "</td><td>"+ obj['Active Cases'][x]+"</td></tr>";
      }
      txt += "</table>"    
      document.getElementById("AffectedCountryTable").innerHTML = txt;
	  Country.pop();
      TotalCases.pop();
      ActiveCases.pop();
      NewCases.pop();
      TotalDeaths.pop();
      
      var plotlayout = {  height: 400,  width: 500};
      
      var barchartdataAll = [  { x: Country,    y: TotalCases,    type: 'bar'  }];
      var barchartdataActive = [  { x: Country,    y: ActiveCases,    type: 'bar'  }];
      var barchartdataNewCase = [  { x: Country,    y: NewCases,    type: 'bar'  }];
      var barchartdataTotalDeaths = [  { x: Country,    y: TotalDeaths,    type: 'bar'  }];
      
      var piechartdataAll = [  { values:TotalCases ,    labels: Country ,    type: 'pie'  }];
      var piechartdataActive = [  { values:ActiveCases ,    labels: Country ,    type: 'pie'  }];
      var piechartdataNewCase = [  { values:NewCases ,    labels: Country ,    type: 'pie'  }];
      var piechartdataTotalDeaths = [  { values:TotalDeaths ,    labels: Country ,    type: 'pie'  }];
      

Plotly.newPlot('BarChartAllDiv', barchartdataAll, plotlayout);
Plotly.newPlot('PieChartAllDiv', piechartdataAll, plotlayout);

Plotly.newPlot('BarChartActiveDiv', barchartdataActive, plotlayout);
Plotly.newPlot('PieChartActiveDiv', piechartdataActive, plotlayout);

Plotly.newPlot('BarChartNewCaseDiv', barchartdataNewCase, plotlayout);
Plotly.newPlot('PieChartNewCaseDiv', piechartdataNewCase, plotlayout);

Plotly.newPlot('BarChartTotalDeathsDiv', barchartdataTotalDeaths, plotlayout);
Plotly.newPlot('PieChartTotalDeathsDiv', piechartdataTotalDeaths, plotlayout);

    }
	
  };
  xhttp.open("GET", "/getdata", true);
  xhttp.send();
}


</script>

</body>
</html>