<!DOCTYPE html>
<html lang="en">
<title>Corona Virus Updates and Statistics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7KMEPC1T70"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7KMEPC1T70');
</script>
 
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>

<script>

function getData() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
    var txt = this.responseText;	
	var obj = JSON.parse(txt);
	Country=[];
TotalCases=[];
ActiveCases=[];
NewCases=[];
TotalDeaths=[];
txt = "<table border='1'><tr><th>Country Or Location</th><th>Total Cases</th><th>Total Deaths</th><th>Total Recovered</th><th>Active Cases</th></tr>"
      for (x in obj['Country Or Location']) {
      Country.push(obj['Country Or Location'][x]);
      TotalCases.push(obj['Total Cases'][x]);
      ActiveCases.push(obj['Active Cases'][x]);
      NewCases.push(obj['New Cases'][x]);
      TotalDeaths.push(obj['Total Deaths'][x]);
      txt += "<tr><td>" + obj['Country Or Location'][x] + "</td><td>"+ obj['Total Cases'][x]  +  "</td><td>"+ obj['Total Deaths'][x] + "</td><td>"+ obj['Total Recovered'][x] + "</td><td>"+ obj['Active Cases'][x]+"</td></tr>";
      }
      txt += "</table>"    
      document.getElementById("AffectedCountryTable").innerHTML = txt;
	  Country.pop();
      TotalCases.pop();
      ActiveCases.pop();
      NewCases.pop();
      TotalDeaths.pop();
      
      var plotlayout = { responsive: true,font: {size: 10}};
	  var config = {responsive: false};
      
      var barchartdataAll = [  { x: Country,    y: TotalCases,    type: 'bar'  }];
      var barchartdataActive = [  { x: Country,    y: ActiveCases,    type: 'bar'  }];
      var barchartdataNewCase = [  { x: Country,    y: NewCases,    type: 'bar'  }];
      var barchartdataTotalDeaths = [  { x: Country,    y: TotalDeaths,    type: 'bar'  }];
      
      var piechartdataAll = [  { values:TotalCases ,    labels: Country ,    type: 'pie'  }];
      var piechartdataActive = [  { values:ActiveCases ,    labels: Country ,    type: 'pie'  }];
      var piechartdataNewCase = [  { values:NewCases ,    labels: Country ,    type: 'pie'  }];
      var piechartdataTotalDeaths = [  { values:TotalDeaths ,    labels: Country ,    type: 'pie'  }];
      

Plotly.newPlot('BarChartAllDiv', barchartdataAll, plotlayout, config);
Plotly.newPlot('PieChartAllDiv', piechartdataAll, plotlayout, config);

Plotly.newPlot('BarChartActiveDiv', barchartdataActive, plotlayout, config);
Plotly.newPlot('PieChartActiveDiv', piechartdataActive, plotlayout, config);

Plotly.newPlot('BarChartNewCaseDiv', barchartdataNewCase, plotlayout, config);
Plotly.newPlot('PieChartNewCaseDiv', piechartdataNewCase, plotlayout, config);

Plotly.newPlot('BarChartTotalDeathsDiv', barchartdataTotalDeaths, plotlayout, config);
Plotly.newPlot('PieChartTotalDeathsDiv', piechartdataTotalDeaths, plotlayout, config);

    }
	
  };
  xhttp.open("GET", "/getdata", true);
  xhttp.send();
}


</script>
<body onload="getData()">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">Der Vorgarten</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Charts and Tables</a>
    <a href="/maps" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Maps</a>
	<a href="/trend" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Trend</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Others</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Charts and Tables</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/maps">Maps</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/trend">Trend</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">


	
  <br>
  <br>
  
  <div class="w3-row">
    <div >
      <h1 class="w3-text-teal">NCOVID-19 Statistics</h1>
      <p id="Intro">This application makes an attempt to provide you some information about the Corona virus outbreak 2019. It relies on the data from different sources and provide you some insights on the event.</p>
    </div>
  
  </div>
  
  <a href="/maps"><h3 class="w3-text-teal" ><b>Click here for the Maps</b></h3></a>
  
  <div class="w3-row w3-padding-50">
    <div >
      <h1 class="w3-text-teal">Cumulative cases</h1>
      <div id='BarChartAllDiv'>
	  <div id='PieChartAllDiv'>
	  
    </div>
    
  </div>
  
  <div class="fb-like" data-href="https://ncovid19.herokuapp.com/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
  
  <div class="w3-row">
    <div >
      <h1 class="w3-text-teal">Active cases</h1>
      <div id='BarChartActiveDiv'>
	  <div id='PieChartActiveDiv'>
    </div>
  
  </div>
  
    <div class="fb-like" data-href="https://ncovid19.herokuapp.com/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
	
  <div class="w3-row">
    <div >
      <h1 class="w3-text-teal">New cases</h1>
      <div id='BarChartNewCaseDiv'>
	  <div id='PieChartNewCaseDiv'>
    </div>
  
  </div>
  
   <div class="fb-like" data-href="https://ncovid19.herokuapp.com/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
	
  <div class="w3-row">
    <div >
      <h1 class="w3-text-teal">Total Deaths</h1>
      <div id='BarChartTotalDeathsDiv'>
	  <div id='PieChartTotalDeathsDiv'>
    </div>
  
  </div>
  
    <div class="fb-like" data-href="https://ncovid19.herokuapp.com/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
	

  <div class="w3-row">
    <div >
      <h1 class="w3-text-teal">Complete list of affected regions</h1>
      <p id="AffectedCountryTable">Fetching the latest data...</p>
    </div>
  
  </div>

 <div class="fb-like" data-href="https://ncovid19.herokuapp.com/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>

<br>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-12">
      <h12>Built with js, plotly, leaflet-openstreetmap-mapbox, python with multiple modules and so on..</h12>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>CSS Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
